[submodule "LLaVA-NeXT"]
	path = LLaVA-NeXT
	url = https://github.com/LLaVA-VL/LLaVA-NeXT.git
[submodule "LongVA"]
	path = LongVA
	url = https://github.com/EvolvingLMMs-Lab/LongVA.git
[submodule "VILA"]
	path = VILA
	url = https://github.com/NVlabs/VILA.git
[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
